# Created by venv; see https://docs.python.org/3/library/venv.html

# Commonly ignored files are based on: https://www.datacamp.com/tutorial/gitignore?utm_aid=157098107015&utm_loc=9120759-&utm_mtd=-c&utm_kw=&gad_campaignid=19589720824


# Ignore build artifacts
dist/
build/
target/

# Ignore dependencies
node_modules/
vendor/
.venv/
venv/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore IDE configuration files
.vscode/
.idea/
.project
.settings/

# Ignore logs and temporary files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tmp
*.bak
.mypy_cache/
__pycache__/
.ipynb_checkpoints/

# Ignore environment and secret files
.env
.env.local
.env.development
.env.production
secrets.json
config.json

# Ignore database and storage files
*.sqlite
*.sqlite3
*.db
dump.rdb

# Ignore CI/CD and coverage files
coverage/
*.lcov
.tox/
.pytest_cache/